.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px 48px 0 0;
  background: none;
  position: relative;
  z-index: 2;
  margin-bottom: 150px;
}
.navbar-content {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 24px;
}
.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0.85;
  transition: opacity 0.2s;
}
.navbar-link:hover {
  opacity: 1;
}